<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>proj-01-team07</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>

  </welcome-file-list>

  <servlet>
    <servlet-name>FrontController</servlet-name>
    <servlet-class>com.revature.web.FrontController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>FrontController</servlet-name>
    <url-pattern>/login</url-pattern>
    <url-pattern>/employees</url-pattern>
    <url-pattern>/register</url-pattern>
    <url-pattern>/admin</url-pattern>  
    <url-pattern>/viewemps</url-pattern>
  
    <url-pattern>/approve_ticket</url-pattern>
    <url-pattern>/deny_ticket</url-pattern>


    <url-pattern>/tickets</url-pattern>
    <url-pattern>/tickets_by_username</url-pattern>
    <url-pattern>/view_pendingt</url-pattern>
    <url-pattern>/view_approved</url-pattern>
    <url-pattern>/view_denied_tickets</url-pattern>
    


     <url-pattern>/pending_tickets</url-pattern>

    <url-pattern>/approved_tickets</url-pattern>
    <url-pattern>/denied_tickets</url-pattern>
    <url-pattern>/resolved_tickets</url-pattern>
    <url-pattern>/all_pending_tickets</url-pattern>
    <url-pattern>/all_resolved_tickets</url-pattern>
    

    <!-- http://localhost:8080/employee-servlet-app/login -->
    <!-- http://localhost:8080/employee-servlet-app/employees -->
  </servlet-mapping>

</web-app>